<div class="main">
    <table class="game-table">
        <tbody>
            <tr class="game-row">
                <td (click)="changeStuff()" class="game-cell">{{board[0][0].displayCell()}}</td>
                <td class="game-cell">{{board[0][1].displayCell()}}</td>
                <td class="game-cell">{{board[0][2].displayCell()}}</td>
            </tr>
            <tr class="game-row">
                <td class="game-cell">{{board[1][0].displayCell()}}</td>
                <td class="game-cell">{{board[1][1].displayCell()}}</td>
                <td class="game-cell">{{board[1][2].displayCell()}}</td>
            </tr>
            <tr class="game-row">
                <td class="game-cell">{{board[2][0].displayCell()}}</td>
                <td class="game-cell">{{board[2][1].displayCell()}}</td>
                <td class="game-cell">{{board[2][2].displayCell()}}</td>
            </tr>
        </tbody>
    </table>
</div>