<div class="main">
    <table class="table game-table">
        <tbody>
            <tr class="game-row">
                <td class="game-cell">1</td>
                <td class="game-cell">2</td>
                <td class="game-cell">3</td>
            </tr>
            <tr class="game-row">
                <td class="game-cell">4</td>
                <td class="game-cell">5</td>
                <td class="game-cell">6</td>
            </tr>
            <tr class="game-row">
                <td class="game-cell">7</td>
                <td class="game-cell">8</td>
                <td class="game-cell">9</td>
            </tr>
        </tbody>
    </table>
</div>